# Python environment
venv/
__pycache__/
*.pyc

# Data (prevent pushing heavy datasets)
data/raw/*
data/processed/*
data/database/*

# Secrets (LLM API Keys)
.env

# Temporary test scripts
src/archive/


refine_forecast